<div id="head">

	<div id="top">
		<a href="/">
			<div id="logo">
				植物记
			</div>
		</a>
		<div id="nav">
			爱植物，爱摄影
		</div>
		<div id="search">
			下载iPhone App
		</div>
	</div>
	
	<div id="sub-nav">
		<div id="catalog">
			<a href="/deals/catalog/服饰箱包">植物</a>&nbsp;&nbsp;
			<a href="/deals/catalog/美容护肤">阅读</a>&nbsp;&nbsp;
			<a href="/deals/catalog/数码家电">摄影旅行</a>&nbsp;&nbsp;						
			<a href="/deals/catalog/家居厨卫">时尚</a>&nbsp;&nbsp;
			<a href="/deals/catalog/母婴用品">养生</a>&nbsp;&nbsp;
			<a href="/deals/catalog/运动文体">动物</a>&nbsp;&nbsp;
			<a href="/deals/catalog/食品保健">手工</a>&nbsp;&nbsp;
			<a href="/deals/catalog/手表配饰">极客</a>&nbsp;&nbsp;
		</div>
		<div id="sitelist">
			
		</div>
	</div>

</div>