@import '_head.styl'
@import 'main.styl'
@import 'detail.styl'
@import '_foot.styl'
body
	margin 0 0
	padding 0 0
	font 14px "Lucida Grande", Helvetica, Arial, sans-serif
	background #ddd
a
	color #333
	text-decoration none
a:visited
	color #333
#backtt 
	right 30px
	bottom 30px
	width 60px
	height 60px
	background url(/images/backtt.png)
	position fixed
	display none
	cursor pointer
	z-index 9998

