#hint
	margin 10px auto
	width 970px
	color #999
	text-align center
	a
		color #ff0000
#container
	margin 0 auto
	width 970px
	overflow auto
.item
	display block
	height 330px
	width 200px
	float left
	overflow hidden
	padding 10px
	border 1px solid #ccc
	margin 0 10px 20px 10px
	background #fff
.item:hover
	border 1px solid yellow
.thumbLink
	display block
	width 200px
	height 200px
	overflow hidden
	border 5 solid #fff
#itemDesc
	margin-top 10px
	// height 80px
	width 200px
	vertical-align bottom
.itemTitle
	margin-top 15px
	height 36px
	color #333
	line-height 1.5
	font-size 12px
	display inline-block
	overflow hidden
	text-decoration none
#itemBottom
	margin-top 10px
	padding-top 5px
	height 30px
	border-top 1px dashed #ddd
.itemPrice
	color red
	font-size 16px
	line-height 30px
	font-weight bolder
	float left
.buttonS
	color #fff
	font-size 14px
	background #D24036
	padding 5px
	margin-right 0px
	display inline-block
	float right
#itemButtonArea
	margin-top 5px
	height 30px
	display block
.itemSite
	color #999
	font-size 12px